<div class="jumbotron">
  <textarea data-ng-model="vm.model.text"></textarea>
</div>

<div class="row marketing">
  <ul>
    <li data-ng-repeat="plugin in vm.model.list | filter: vm.model.text">
      <span data-ng-bind="plugin['plugin_name']"></span>
      <ul>
        <li data-ng-repeat="setting in plugin['plugin_settings'] | filter: vm.model.text">
          <span data-ng-bind="setting['setting_name']"></span>
          <ul>
            <li>
              <span>type: </span>
              <span data-ng-bind="setting['properties']['type']"></span>
            </li>
            <li>
              <span>required: </span>
              <span data-ng-bind="setting['properties']['required']"></span>
            </li>
            <li>
              <span>default value: </span>
              <span data-ng-bind="setting['properties']['default_value']"></span>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
